@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url(vendor/normalize.css);
:root {
  --decor-color: #00B2A0;
  --main-color: #242121;
  --white: #fff;
  --title-color: #01353E;
  --bg-color: #F8F8F8;
  --hero-title: #0D302C;
  --black: #000;
  --border: #DADADA;
  --fz14px: 14px;
  --fz18px: 1.3rem;
  --fz24px: 1.7rem;
  --fz36px: 2.6rem;
  --fz40px: 2.8rem;
  --fz48px: 3.5rem;
  --fz64px: 4.5rem;
  --fz200px: 14rem;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 600;
  font-size: var(--fz48px);
  line-height: 1.2;
  color: var(--title-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  position: relative;
}

.title::after {
  content: '/';
  position: absolute;
  font-size: 1.5em;
  color: var(--decor-color);
}

.btn {
  cursor: pointer;
  display: block;
  max-width: 350px;
  width: 100%;
  padding: 23px 91px;
  font-size: var(--fz24px);
  line-height: 1;
  font-weight: 400;
  border: 1px solid #C4C4C4;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: var(--decor-color);
  color: var(--white);
}

html,
body {
  font-size: var(--fz14px);
}

body {
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: var(--main-color);
  background-color: #fff;
  letter-spacing: 0.043em;
}

.header {
  width: 100%;
  height: 5vw;
  position: fixed;
  z-index: 50;
  background-color: transparent;
  transition: background-color 0.2s;
}

.header--bg {
  background-color: var(--decor-color);
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 35px;
}

.header__logo {
  margin-right: 9vw;
}

.header .menu {
  display: flex;
}

.header .menu__item:not(:last-child) {
  margin-right: 45px;
}

.header .menu__link {
  font-size: var(--fz24px);
  color: var(--white);
  font-weight: 400;
  position: relative;
}

.header .menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  border-bottom: 1px solid var(--white);
  transition: width 0.2s;
}

.header .menu__link:hover::after {
  width: 100%;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
  height: 45vh;
  left: 0;
  right: 0;
  top: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.hero__title {
  text-transform: uppercase;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: var(--fz200px);
  line-height: 1.2;
  color: var(--hero-title);
  margin: auto 0;
  position: relative;
  z-index: 5;
}

.hero__subtitle {
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  color: var(--black);
  font-size: var(--fz24px);
  font-weight: 400;
  text-transform: initial;
}

.hero__link {
  width: 20px;
  height: 69px;
  margin-bottom: 92px;
  transition: transform 0.2s;
}

.hero__link:hover {
  transform: translateY(-10px);
}

.about {
  padding: 190px 0 230px;
}

.about__text {
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__text p {
  max-width: 44.5%;
}

.about__text p:not(:last-child) {
  margin-bottom: 30px;
}

.school {
  background-color: var(--bg-color);
  padding: 165px 0;
}

.school__inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 350px));
  column-gap: 75px;
  margin-bottom: 102px;
}

.school__item {
  align-self: center;
}

.school__heading {
  text-transform: uppercase;
  max-width: 220px;
  min-height: 56px;
  margin: 0 auto;
  padding-left: 65px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--fz24px);
  position: relative;
}

.school__heading::before {
  position: absolute;
  content: '';
  left: 0;
  width: 55px;
  height: 50px;
  background-repeat: no-repeat;
}

.school__heading--sun::before {
  background-image: url(../img/svg/icon-1.svg);
}

.school__heading--plane::before {
  background-image: url(../img/svg/icon-2.svg);
}

.school__heading--surfer::before {
  background-image: url(../img/svg/icon-3.svg);
}

.school__wrapper {
  display: flex;
  justify-content: space-between;
}

.school__box {
  position: relative;
}

.school__box:not(:last-child) {
  margin-bottom: 20px;
}

.school__wave {
  height: 15px;
  background-repeat: no-repeat;
  background-position: left center;
}

.school__wave--first {
  background-image: url(../img/svg/wave1.svg);
}

.school__wave--second {
  background-image: url(../img/svg/wave2.svg);
}

.school__wave--third {
  background-image: url(../img/svg/wave3.svg);
}

.school__percent {
  position: absolute;
  right: 0;
  top: -5px;
  font-size: var(--fz24px);
  font-weight: 400;
  line-height: 1;
}

.school__content {
  max-width: 600px;
}

.school__content p:not(:last-child) {
  margin-bottom: 30px;
}

.tops {
  position: relative;
  margin-bottom: 200px;
}

.tops__bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  height: 44vw;
  max-height: 850px;
  max-width: 960px;
  width: 50vw;
}

.tops__inner {
  padding: 180px 0 150px;
}

.tops__title {
  text-align: left;
}

.tops__text {
  max-width: 507px;
}

.tops__text p:not(:last-child) {
  margin-bottom: 30px;
}

.gallery {
  padding-bottom: 200px;
}

.gallery__title {
  margin-bottom: 212px;
}

.gallery__wrap {
  display: flex;
  margin-bottom: 50px;
}

.gallery__filter:not(:last-child) {
  margin-right: 20px;
}

.gallery__btn {
  font-size: var(--fz24px);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  transition: color 0.2s;
  cursor: pointer;
}

.gallery__btn:hover {
  color: var(--decor-color);
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}

.gallery__item:first-child, .gallery__item:last-child {
  grid-column: 2 span;
}

.gallery__link {
  display: block;
  height: 100%;
  position: relative;
}

.gallery__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0);
  transition: background-color 0.3s;
}

.gallery__link:hover::after {
  background-color: rgba(51, 51, 51, 0.7);
}

.gallery__more {
  margin: 0 auto;
  margin-bottom: 200px;
}

.gallery .blockquote {
  background-color: var(--bg-color);
  padding: 80px 0;
  text-align: center;
  font-size: var(--fz40px);
  font-weight: 400;
  font-style: italic;
  margin-bottom: 200px;
}

.gallery .blockquote__inner {
  max-width: 895px;
  margin: 0 auto;
}

.gallery .blockquote__author {
  display: block;
  font-size: var(--fz14px);
  text-align: end;
}

.gallery .promo {
  margin: 0 auto 200px;
  max-width: 1200px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery .promo__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery .promo__link:hover .promo__play path {
  fill: var(--decor-color);
}

.gallery .promo__play path {
  transition: fill 0.2s;
}

.gallery .statistics {
  display: flex;
  justify-content: center;
}

.gallery .statistics__item {
  text-align: center;
  font-size: var(--fz64px);
  line-height: 1.1;
  font-weight: 700;
}

.gallery .statistics__item:not(:last-child) {
  margin-right: 100px;
}

.gallery .statistics__item span {
  font-size: 1rem;
  font-weight: 400;
  display: block;
}

.blog-slider {
  margin-bottom: 200px;
}

.blog-slider__title {
  margin-bottom: 230px;
}

.blog-slider__container {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.blog-slider__list {
  display: flex;
}

.blog-slider__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.blog-slider__inner {
  height: 42vw;
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.blog-slider__content {
  color: var(--white);
  max-width: 600px;
}

.blog-slider__heading {
  font-size: var(--fz48px);
  line-height: 1.2;
}

.blog-slider__dots {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 77px;
}

.blog-slider__bullet {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.blog-slider__bullet:not(:last-child) {
  margin-right: 15px;
}

.blog-slider__bullet:hover, .blog-slider__bullet--active {
  background-color: var(--decor-color);
}

.team {
  padding-bottom: 200px;
}

.team__title {
  margin-bottom: 212px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 330px));
  justify-content: space-between;
}

.team__member {
  text-align: center;
}

.team__img {
  margin-bottom: 25px;
}

.team__name {
  font-weight: 700;
  font-size: var(--fz18px);
  line-height: 1;
}

.team__position {
  font-weight: 400;
}

.tarrifs {
  padding: 200px 0;
  background-color: var(--bg-color);
}

.tarrifs__title {
  margin-bottom: 180px;
}

.tarrifs__catalog {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 360px));
  justify-content: space-between;
}

.tarrifs__column {
  padding: 45px 31px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarrifs__name {
  margin-bottom: 60px;
}

.tarrifs__list {
  flex-grow: 1;
  margin-bottom: 60px;
}

.tarrifs__item {
  font-weight: 400;
}

.tarrifs__item:not(:last-child) {
  margin-bottom: 20px;
}

.tarrifs__price, .tarrifs__name {
  font-size: var(--fz36px);
  font-weight: 400;
  line-height: 1;
}

.tarrifs__price span {
  font-size: var(--fz18px);
  line-height: 1;
  vertical-align: middle;
  padding-left: 5px;
}

.request {
  padding: 130px 0 200px;
}

.request .map {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.request .request__title {
  margin-bottom: 212px;
}

.request__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 210px;
}

.request .form {
  max-width: 570px;
  width: 100%;
}

.request .form__input {
  width: 100%;
  border-bottom: 2px solid var(--border);
  height: 38px;
  padding: 0 5px;
  padding-bottom: 20px;
}

.request .form__input::placeholder {
  max-width: 260px;
  font-size: var(--fz18px);
  font-weight: 400;
  line-height: 1;
  color: var(--decor-color);
}

.request .form__name {
  margin-bottom: 32px;
}

.request .form__tel {
  margin-bottom: 53px;
}

.request .form__message {
  resize: none;
  height: 156px;
  margin-bottom: 75px;
}

.request__contacts {
  background-color: var(--bg-color);
  max-width: 600px;
  width: 100%;
  padding: 60px 52px;
  font-weight: 400;
  font-size: var(--fz24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.request__address {
  display: block;
  max-width: 320px;
}

.request__address, .request__tel {
  transition: color 0.2s;
}

.request__address:hover, .request__tel:hover {
  color: var(--decor-color);
}

.request .social {
  display: flex;
  justify-content: center;
}

.request .social__list:not(:last-child) {
  margin-right: 10px;
}

.request .social__link {
  font-size: var(--fz24px);
  font-weight: 400;
  line-height: 1;
  transition: color 0.2s;
}

.request .social__link:hover {
  color: var(--decor-color);
}

.footer {
  display: flex;
  padding: 68px 0;
  background-color: var(--decor-color);
}

.footer__logo {
  margin: auto;
}
